/* Base styles */
body {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar styles */
.navbar {
  transition: background-color 0.3s ease, padding 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: black;
  color: white;
}

/* Hero Section */
.hero-section {
  display: flex;
  flex-direction: row;
  padding: 20px;
  background: linear-gradient(135deg, #5d39d6, #27216a, #120824);
  color: white;
  position: relative;
  z-index: 1;
  padding-bottom: 50%;
}

/* Hero Section Content */
.hero-section-left,
.hero-section-right {
  width: 50%;
}

/* Hero Section */
.hero-section {
  position: relative;
  background: linear-gradient(
    135deg,
    #5d39d6,
    #27216a,
    #120824
  ); /* Hero background */
  color: white;
  padding: 20px;
  z-index: 1;
  padding-bottom: 140px;
}

.hero-section-left {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
}

.hero-section-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}

.hero-section h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero-section p {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* Stats Section */
.stats-section {
  position: relative;
  z-index: 2;
  margin-top: -60px;
  display: flex;
  justify-content: center;
  justify-content: center;
  padding: 0 30px;
}

.stats-section .stats-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  max-width: 112rem;
  width: 100%;
}

.stats-section .stat {
  background-color: white;
  border-radius: 16px;
  padding: 24px;
  width: 33.333%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 3;
}

.stats-section .stat h2 {
  color: #0098ff;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.stats-section .stat p {
  font-size: 1rem;
  line-height: 1.5;
}

.stats-section .stat p span {
  color: #0098ff;
  font-weight: 500;
}
.platform-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  gap: 24px;
}

.platform-section .text-content {
  width: 100%;
  text-align: left;
}

.platform-section .text-content h2 {
  font-size: 2rem;
  margin-bottom: 16px;
}

.platform-section .text-content p {
  font-size: 1rem;
  margin-bottom: 24px;
}

.platform-section .text-content h2 span {
  color: #0098ff;
}

.platform-section .buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: left;
}

.platform-section .buttons button {
  padding: 12px 24px;
  border-radius: 10px;
  font-size: 0.9rem;
  border: 1px solid #0098ff;
  color: #0a0a0a;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.platform-section .buttons button:hover {
  background-color: #0098ff;
  color: white;
}

.platform-section .buttons button.active {
  background-color: #0098ff;
  color: white;
  border: 1px solid #0098ff;
}

.platform-section .image-content {
  width: 100%;
  height: auto;
  margin-top: 24px;
}

.platform-section .image-content img {
  width: 600px;
  height: 360px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}

.platform-section {
  margin-top: 2vh;
  padding-top: 8px;
}

.how-it-works-section {
  margin-top: 2vh;
  padding-top: 8px;
}
.image-content img {
  width: 700px;
  height: 428px;
  border-radius: 12px;
  box-shadow: 0 -10px 15px rgba(0, 0, 0, 0.1), 0 10px 15px rgba(0, 0, 0, 0.1);
  object-fit: cover;
  margin: 0 auto;
}

.w-full.flex.absolute {
  top: -20px;
}

/* Base styles for the grid */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
.grid .flex img {
  width: 285px;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.grid .flex {
  text-align: left;
}

/* Trusted Section */
.trusted-section {
  width: 100%;
  padding: 4rem 2rem;
  background-color: #f2f2f2;
}

.trusted-section .container {
  max-width: 1120px;
  margin: 0 auto;
}

.trusted-section .heading {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 4rem;
  color: #000;
}

/* Stats Cards */
.trusted-section .stats-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 2rem;
}

.trusted-section .stats-card {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  text-align: center;
  flex: 1 1 calc(33.333% - 1rem);
  max-width: calc(33.333% - 1rem);
}

.trusted-section .stats-number {
  color: #0098ff;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.trusted-section .stats-card p {
  font-size: 1rem;
  color: #333; /* Dark gray text */
}

/* Logos */
.trusted-section .logos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.trusted-section .logo-card {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 80px;
  width: calc(20% - 1rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

.trusted-section .logo-img {
  max-height: 50px;
  max-width: 100%;
}

.grid-cols-5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

/* Logo Card Styling */
.logo-cards {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.logo-imgs {
  max-height: 50px;
  max-width: 100%;
}

/* Responsive Styles */

/* Small devices (up to 480px) */
@media (max-width: 480px) {
  .navbar {
    flex-direction: row;
    padding: 8px;
    align-items: flex-start;
  }

  .navbar img {
    height: 25px;
    margin-bottom: 10px;
  }

  .menu {
    flex-direction: column;
    background-color: black;
    padding: 10px;
    align-items: center;
    justify-content: center;
  }

  .menu.block {
    display: flex;
  }

  .menu button {
    width: 100%;
    text-align: center;
    justify-content: center;
    padding: 10px;
    font-size: 0.875rem;
  }
  .menu ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }

  .menu ul li a {
    margin-right: 4px;
  }

  .menu ul li span {
    margin-left: 0;
  }

  .hero-section {
    margin-top: 10vh;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    height: auto;
    padding-bottom: 100px;
  }

  .hero-section-left,
  .hero-section-right {
    width: 90%;
    max-width: 600px;
  }

  .hero-section-left {
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
  }

  .hero-section-right {
    text-align: left;
    padding: 0;
  }

  .hero-section h1 {
    font-size: 1.8rem;
    line-height: 1;
  }

  .hero-section p {
    font-size: 0.8rem;
  }

  .hero-section button {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
  }

  .hero-section .flex {
    flex-direction: column;
    gap: 12px;
  }
  .stats-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  .stats-section .stat {
    flex: 1 1 100%;
    width: 80%;
    text-align: left;
    padding: 20px;
    border-radius: 16px;
    background-color: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1), 0 -4px 15px rgba(0, 0, 0, 0.05),
      0 0 20px rgba(0, 162, 255, 0.2);
  }

  .stats-section .stat h2 {
    font-size: 1.8rem;
  }

  .stats-section .stat p {
    font-size: 0.9rem;
  }

  .platform-section {
    flex-direction: column;
    gap: 24px;
    margin-top: 0;
    padding-top: 0;
  }

  .how-it-works-section {
    margin-top: 0;
    padding-top: 0;
  }

  .platform-section .text-content,
  .how-it-works-section .text-content {
    text-align: left !important;
  }

  .platform-section h2,
  .how-it-works-section h2 {
    text-align: left;
  }

  .platform-section p,
  .how-it-works-section p {
    text-align: left;
  }

  .platform-section .buttons {
    justify-content: left; /* Center-align buttons */
  }

  .platform-section .image-content {
    order: 2;
    margin-top: 16px;
  }

  .platform-section .image-content img {
    width: 100%;
    height: auto;
  }

  .how-it-works-section .text-content {
    text-align: left;
  }

  .how-it-works-section .image-content {
    order: 2;
    margin-top: 16px;
  }

  .how-it-works-section .image-content img {
    width: 100%;
    height: auto;
  }

  .w-full.flex.absolute {
    flex-direction: column;
    align-items: center;
    top: -50px;
  }

  .w-full.flex.absolute .max-w-6xl {
    padding: 16px;
    text-align: center;
  }

  .w-full.flex.absolute .max-w-6xl .flex {
    flex-direction: column;
    gap: 16px;
  }

  .w-full.flex.absolute .max-w-6xl button {
    width: 60%;
    text-align: center;
  }
  .grid {
    grid-template-columns: 1fr;
  }

  .grid .flex {
    text-align: left !important;
  }

  .trusted-section .stats-container {
    flex-direction: column;
    align-items: center;
  }

  .trusted-section .stats-card {
    width: 100%; /* Full width for each card */
  }

  .trusted-section .logos-container {
    flex-direction: column;
    align-items: center;
  }

  .trusted-section .logo-card {
    width: 80%;
  }

  /* Center the text */
  h3 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 16px;
  }

  /* Adjust grid layout for logos */
  .grids {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }

  .logo-cards {
    height: 70px;
    padding: 8px;
  }

  .logo-imgs {
    max-height: 40px;
    max-width: 100%;
  }
}

/* Medium devices (481px to 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  .navbar {
    padding: 12px;
  }

  .hero-section h1 {
    font-size: 2rem;
  }

  .hero-section p {
    font-size: 1rem;
  }

  .stats-section .stat {
    width: 48%;
    margin-bottom: 16px;
  }

  .platform-section {
    flex-direction: column;
  }

  .platform-section img {
    width: 100%;
  }

  .stats-section .stat {
    flex: 1 1 calc(50% - 16px);
    max-width: calc(50% - 16px);
  }

  .platform-section {
    flex-direction: column;
    gap: 24px;
  }

  .platform-section .text-content,
  .platform-section .image-content {
    width: 100%;
    padding: 0;
  }

  .platform-section .text-content h2 {
    font-size: 1.8rem;
    text-align: left;
  }

  .platform-section .text-content p {
    font-size: 1rem;
    text-align: left;
  }

  .platform-section .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
  }

  .platform-section .buttons button {
    flex: 1 1 calc(50% - 12px);
    max-width: 150px;
    padding: 10px;
    font-size: 0.9rem;
    text-align: center;
    border-radius: 8px;
  }

  .w-full.flex.absolute {
    flex-direction: column;
    align-items: center;
    top: 0;
  }

  .w-full.flex.absolute .max-w-6xl {
    padding: 16px;
    text-align: center;
  }

  .w-full.flex.absolute .max-w-6xl .flex {
    flex-direction: column;
    gap: 16px;
  }

  .w-full.flex.absolute .max-w-6xl button {
    width: 100%;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Large devices (769px to 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  .navbar {
    padding: 16px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .hero-section h1 {
    font-size: 2.5rem;
  }

  .hero-section p {
    font-size: 1.125rem;
  }

  .stats-section .stat {
    flex: 1 1 calc(50% - 16px);
    max-width: calc(50% - 16px);
  }
}

/* Extra-large devices (1025px and above) */
@media (min-width: 1025px) {
  .navbar {
    padding: 20px;
  }

  .navbar img {
    height: 30px;
    width: auto;
  }

  .navbar ul {
    gap: 20px;
  }

  .hero-section {
    flex-direction: row;
    padding: 20px;
  }

  .hero-section h1 {
    font-size: 2.5rem;
    text-align: left;
  }

  .hero-section p {
    font-size: 1.25rem;
    text-align: left;
  }

  .stats-section .stat {
    width: 30%;
  }

  .platform-section {
    flex-direction: row;
  }

  .platform-section img {
    width: 50%;
  }
}

/* Dropdown menu styles */
.navbar .group:hover .invisible {
  display: block;
}

.navbar .group .absolute {
  transform: translateY(5px);
  transition: opacity 0.2s, transform 0.2s;
}

.navbar .group:hover .absolute {
  transform: translateY(0);
}

/* Dropdown link styles */
.navbar .absolute a {
  transition: color 0.2s;
}

.navbar .absolute a:hover {
  color: #0098ff;
}

/* Project carousel transitions */
.project-carousel-container {
  position: relative;
  overflow: hidden;
}

.project-slide {
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.project-slide.active {
  opacity: 1;
  transform: translateX(0);
}

.project-slide.inactive-left {
  opacity: 0;
  transform: translateX(-30px);
  position: absolute;
}

.project-slide.inactive-right {
  opacity: 0;
  transform: translateX(30px);
}

/* Additional styles for better responsiveness */
.stats-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.platform-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.platform-section img {
  max-width: 100%;
  height: auto;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer .max-w-7xl {
  width: 100%;
}

button {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #007bff;
}
